<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/angular-growl/build/angular-growl.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body xlmns:ng="http://angularjs.org" id="ng-app" ng-app="unPDF" ng-controller="AppController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div growl></div>
        <div class="container">
            <header>
                <h1>Un-PDF</h1>
                <small>Submit any issues to <a href="https://github.com/cmbirk/unpdf/issues" target="_blank">the repo on Github.</a></small>
            </header>    
            <main class="main" ng-controller="MainController">
                <section class="upload">
                    <h1>Upload File:</h1>
                    <div class="button btn btn-default" ngf-select ngf-change="upload($files)">Upload PDF File</div>
                    <!-- <br><br>
                    <em>OR</em>
                    <br><br>
                    <div ngf-drop ng-model="files" class="drop-box" 
                        ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
                        ngf-accept="'.pdf'">Drop PDF files here</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    -->
                </section>
                <div class="queued" ng-if="downloads.length > 0">
                    <p>Download: </p>
                    <div download-link get-data="getBlob(download.text)" file="{{ download.name }}" ng-repeat="download in downloads">{{ download.name }}</div>
                </div>
            </main> 
            <footer>
                
            </footer>
        </div>
        <!-- Include Third Party Scripts -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-growl/build/angular-growl.min.js"></script>
        <script src="/bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>

        <!-- Custom Scripts -->
        <script src="/js/app.js"></script>
        <script src="/js/controllers.js"></script>
        <script src="/js/directives.js"></script>
        <script src="/js/filters.js"></script>
    </body>
</html>